%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{src_dirs, ["src"]}.

%% Deps
{deps, [
  {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
  {ranch, ".*", {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}}
]}.

%% Release profiles
%% To create a release just run
%% rebar3 as prod release
{relx, [{release, {erliot, "0.1"},
  [erliot, sasl, lager]},
  {mode, minimal},
  {extended_start_script, true},
  {sys_config, "config/sys.config"},
  {vm_args, "config/vm.args"}
]}.

{profiles, [{prod, [{relx, [
  {mode, prod},
  {include_src, false},
  {include_erts, true},
  {debug_info, strip},
  {overlay, [{mkdir, "config"},
    {copy, "docker/db.config", "config/db.config"},
    {copy, "docker/sys.config", "config/sys.config"},
    {copy, "docker/vm.args", "config/vm.args"}
  ]}
]}
]}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [erliot]}
]}.

{minimum_otp_vsn, "27"}.